:root{
  --mainColor: #00ab80;
  --bgColor: #242424;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index:1000;
  user-select: none;
}

/*thin line at top*/
#top-line {
  width: 100vw;
  height: .75vh;
  font: 0;
  background-color: var(--mainColor);
  position: fixed;
}

#nav-container {
  display: flex;
  align-items:center;
  background-color: var(--bgColor);
  font-family: 'Oswald', sans-serif;
  font-weight: 900;
  color: black;
  vertical-align: top;
}

/*my name lol*/
#logo {
  font-size: 3em;
  padding: 0.25em;
  padding-left: 0.5em;
  color: white;
  position: static;
}

/* ========== Default styles: wide screens ========== */
a{
  text-decoration: none;
  color: var(--mainColor);
}
#navbar {
  display: flex;
  background-color: var(--mainColor);
  width: 30em;
  margin-left: auto;
  list-style-type: none;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  right: 0;
  font-size: 2em;
  transform: skewX(30deg) translateX(0.65em); /* default skew */
  height: 2em;
  align-items: center;
}

#navbar li {
  transform: skewX(-30deg) translateX(-0.2em);
  display: block;
}

#navbar li a {
  color: black;
}

#navbar li a:hover {
  color: white;
}

body {
  background-color: var(--bgColor);
  width: 100vw;
  height: 200vh;
  overflow-x: hidden;
  overflow-wrap:break-word;
  color: #ffffff ;
  padding-top: 5em;
  font-family: 'Cascadia Code', sans-serif;
}

.main{
  gap: 1.25em;
  flex-wrap: wrap;
  padding: 1em 10em 3em;
}

.main .textbox {
  margin: auto;
}

.home {
  margin-right: auto;
}


.home {
  width: 78%;
}
.textbox {
  width: 100%;
  padding: 2em;
  font-size: 1.5em;
  margin-right: 1.25em;
}

.description{
  font-style: italic;
  font-size: 1em;
  color:#949494;
  padding-bottom: 0.5em;
}

.author{
  font-size: 0.7em;
  color:#949494;
}

.subtitle{
  font-size: 1.5em;
}

.text:not(.cent)::before{
  content: "\a> ";
  white-space: pre;
}


.subtitle::before{
  content: "\a\a";
  white-space: pre;
}

.it{
  font-style: italic;
  display: inline-block;
}

.cent{
  text-align: center;
  
}

.recents {
  position: fixed;
  top: 9em; /* same as body padding-top */
  left: 70%; /* gap between boxes */
  width: 30%;
  padding-left: 2.5em;
  border-left: solid; color: var(--mainColor);
  padding-right: 10em;
}

.title {
  font-size: 2em;
  padding-bottom: 0.2em;
  color: var(--mainColor);
}

.recent-blog {
  color: white;
  padding: 2em;
  padding-left: 0;
  border-bottom: 1px solid;
}

#last-blog {
  border-bottom: none;
}
.project-link a{
  color: var(--mainColor);
}

.project-link a:hover {
  color: white;
  text-decoration: underline;
}

#mobileMenu {
  visibility: hidden;
}

img {
  display: block;
  margin: auto;
  padding-top: 2em;
  max-width: 100%;
  max-height: 80vh;
  height: auto;
  display: block;
  margin: 1rem auto;
  object-fit: contain;
}

.caption {
   text-align: center;
   font-style: italic;
   padding-top: 0.5em;
   color:#949494;
   font-size: 0.8em;
}

.desc {
   text-align: left;
   font-style: italic;
   padding-top: 0.5em;
   color:#949494;
   font-size: 0.8em;
}

.contact-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact {
  max-width: 900px;
  text-align: left;
  align-items: flex-start;
}

.contact .textbox {
  padding-top: 3em !important;
  padding: 0;
  margin: 0;
}

.contact-rows {
  border-top: 1px solid #00ab8073;
  width: 100%;
  margin: 0 auto;
}

.contact-row {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.75em;
  padding: 1em 0.75em;
  background: transparent;
  text-decoration: none;
  color: var(--mainColor);
  border-bottom: 1px solid #00ab8073;
}

.contact-row:hover {
  background-color: rgb(41, 48, 47);
}

.row-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width 0;
}

.row-title {
  font-size: 1.5em;
  color: var(--mainColor);
}

.row-caption {
  font-size: 0.9em;
  color: rgb(179, 179, 179);
  margin-top: 0.2em;
}

/* ========== Override styles for small screens ========== */

@media screen and (max-width: 75em) {
  #navbar {
      width: 3em;
      height: 1.5em;
  }

  #navbar ul {
    width: 6%;
    transform: skewX(30deg) translateX(10%);
  }

  #navbar li {
    display: none;
  }

  #menuBtn{
    margin-top: 0.1em;
  } 
  .ln1, .ln2, .ln3 {
    width: 70%;
    height: 8%;
    background-color: #FFF;
    margin: 10% 0;
    transition: 0.4s;
  }

  .change .ln1 {
    transform: translate(0, 220%) rotate(-45deg);
  }

  .change .ln2 {
    opacity: 0;
  }

  .change .ln3 {
    transform: translate(0, -200%) rotate(45deg);
  }

  .animatedico {
    transform: skewX(-30deg) translateY(13%);
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 2em;
    height: 2em;
    padding: 0;
    object-fit: contain;
    align-items: center;
    justify-content: center;
  }

  .main {
    padding: 0.3em;
    margin: auto;
  }

  .home {
    width: 100%;
  }
  .main .textbox{
    width: 100%;
  }
  .textbox {
    width: 100%;
    margin-right: 0;
  }

  .recents {
    position: static;
    width: 100%;
    left: auto;
    top: auto;
    padding-inline-start: 3em;
    padding-right: 3em;
  }

  .title {
    width: 100%;
  }

  #mobileMenu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 20em;
    background-color: var(--mainColor);
    overflow-x: hidden;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    visibility:visible;
  }

  #mobileMenu ul li a {
   color: var(--bgColor);
    text-decoration: none;
  }
  #mobileMenu ul {
    list-style: none;
    text-align: left;
    margin-top: 3.5em;
  }

  #mobileMenu li {
    padding: 0.5em;
    font-size: 2em;
  }

  #mobileMenu li a:hover {
  color: white;
}

  #mobileMenu.open {
    transform: translateX(0);
  }
}



