:root{
  --mainColor: #00ab80;
  --bgColor: #242424;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: absolute;
  top: 0;
  width 100%;
  z-index:1000;

}

/*thin line at top*/
#top-line {
  width: 100vw;
  height: 5px;
  font: 0;
  background-color: var(--mainColor);
}

#nav-container {
  display: flex;
  align-items:center;
  background-color: var(--bgColor);
  font-family: 'Oswald', sans-serif;
  font-weight: 900;
  color: white;
  vertical-align: top;
}

/*my name lol*/
#logo {
  font-size: 3rem;
  padding-left: 1rem;
}

/* Parallelogram nav background and links */
ul {
  transform: skewX(30deg) translateX(0.5rem);     /* skew the container */
  display: flex;
  background-color: var(--mainColor);
  width: 60%;
  margin-left: auto;
  list-style-type: none;
  justify-content: space-evenly;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
}

li {
  transform: skewX(-30deg);
  display: block;
}

li a {
  text-decoration: none;
  color: white;
}


body {
    background-color: var(--bgColor);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-wrap:break-word;
    color: #ffffff
}

